<h1> Bienvenido, {{user.user}}</h1>
<h4> Informacion personal:</h4>
<div>
    <p>Email: {{user.email}}</p>
    <p>Rol en la plataforma: {{user.role}}</p>
    <p>Id de mi carrito: {{user.cart}}</p>
</div>

<form action="/api/sessions/logout" method="POST">
    <button type="submit" class="btn"> Logout </button>
</form>
<br><br>
<form action="/products" method="GET">
    <button type="submit" class="btn"> Ver Productos </button>
</form>